body {
    background-image: url(./main-banner-1.png);
    background-size: cover;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

/* .main-banner-bg {
    
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
} */


.stripbar {
    text-align: center;
    background-color: rgb(32, 30, 30);
    margin: 0%;
}



.stripbar-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.stripbar-left {
    display: flex;
    list-style: none;
    justify-content: space-between;
}


.stripbar-center {
    display: flex;
    align-items: center;
    font-size: medium;
    color: rgb(235, 255, 235);
}


.stripbar-right {
    display: flex;
    justify-content: end;
    list-style: none;
    margin-right: 1%;
}

.stripbar-right,
select {
    background-color: rgb(32, 30, 30);
    color: #ebe7f8;
    border: none;
    font-size: medium;
}



.nav-bar {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    align-items: center;

}

.logo {
    /*         
        position: absolute;
        top: 10px;
        left: 20px; */
    padding-left: 10px;

}

.nav-menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.nav-menu h4 {
    padding-right: 20px;
    text-decoration: none;
    list-style: none;
    font-weight: 540;
    color: #080808;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-menu a {
    text-decoration: none;
    color: rgb(247, 243, 247);
}


.nav-icon {
    display: flex;
    margin-right: 2%;

}

.nav-icon svg {
    padding-left: 20px;
    transform: scale(1.5);
}

i:hover {
    transition: 3s;
    background-color: rgb(3, 0, 204);
}

.bannerimage {
    text-align: center;
    margin-top: 8%;
    color: rgb(255, 255, 255, 255);


}


.subtitle {
    font-size: 25px;
}


h1.headphone {
    text-shadow: -30px -30px 6px black;
    letter-spacing: 15px;
    font-size: 100px;
}

button {
    background-color: #2996d8;
    padding: 10px 25px;
    color: #f0f8fc;
    border: none;

}

button:hover {
    background-color: #c9aaaa;
    transition: 1s;
}

.TRENDING-CATEGORIES {
    font-size: 50px;
    margin-left: 1.5%;
    margin-top: 5%;
    text-shadow: -25px -20px 3px #080808;
    color: white;
    padding-left: 1%;
    font-family: sans-serif;
    font-weight: 500;
}


.c-images {
    display: flex;
    justify-content: space-around;
}

.img1 {
    background-image: url(./category-1_x100.png);
    width: 80px;
    height: 100px;
    background-color: #262626;
    border-radius: 25%;
}


.img2 {
    background-image: url(./category-2_x100.avif);
    width: 120px;
    height: 101px;
    background-color: #262626;
    border-radius: 25%;

}


.img3 {
    background-image: url(./category-3_x100.avif);
    width: 100px;
    height: 100px;
    background-color: #262626;
    border-radius: 25%;
}


.img4 {
    background-image: url(./category-4_x100.avif);
    width: 100px;
    height: 90px;
    background-color: #262626;
    /* border-radius: 25%; */
}


.img5 {
    background-image: url(./category-5_x100.webp);
    width: 90px;
    height: 100px;
    background-color: #262626;
    border-radius: 25%;
}


.img6 {
    background-image: url(./category-6_x100.avif);
    width: 90px;
    height: 100px;
    background-color: #262626;
    border-radius: 25%;
}


.catlogue {
    display: flex;
    justify-content: space-around;
}

.catlogue1 {
    background-image: url(./box-image-1.webp);
    width: 650px;
    height: 400px;
    margin-top: 5%;
}

.catlouge2 {
    background-image: url(./box-image-2.webp);
    width: 650px;
    height: 400px;
    margin-top: 5%;
}


.info1 {
    text-align: center;
    margin: 30%;
}

.sony {
    color: white;
    font-size: 18px;
    font-family: sans-serif;
}

.new-collection {
    color: white;
    font-size: 200%;
    font-family: sans-serif;
    font-weight: lighter;

}

.info2 {
    text-align: center;
    margin: 30%;
}

.mac {
    color: white;
    font-size: 18px;
    font-family: sans-serif;
}

.best-new {
    color: white;
    font-size: 200%;
    font-family: sans-serif;
    font-weight: lighter;
}


.trending-products {
    font-size: 50px;
    margin-left: 1.5%;
    margin-top: 5%;
    text-shadow: -25px -20px 3px #080808;
    color: white;
    padding-left: 1%;
    font-family: sans-serif;
    font-weight: 500;
}


.main-products {
    text-align: center;
}

td {
    width: 10%;
    padding: 1%;
}

.main-img1-1 {
    background-color: #262626;

}

.main-img1-2 {
    background-color:#1c1c1c;

}

.main-img1-3 {
    background-color:#1c1c1c;

}

.main-img1-4 {
    background-color:#1c1c1c;

}



.main-img1-5 {
    background-color:#1c1c1c;
}

.main-img1-6 {
    background-color:#1c1c1c;

}

.main-img1-7 {
    background-color:#1c1c1c;

}

.main-img1-8 {
    background-color:#1c1c1c;
}


.img1-1 {
    background-color:#262626;
}


.img1-2 {
    background-color:#262626;
}


.img1-3 {
    background-color:#262626;
}


.img1-4 {
    background-color:#262626;
}


.img1-5 {
    background-color:#262626;
}


.img1-6 {
    background-color:#262626;
}


.img1-7 {
    background-color:#262626;
}


.img1-8 {
    background-color:#262626;
}


.discount-banner {
    background-image: url(./discount-banner.webp);
    height: 800px;
    width: 1300px;
    margin: 2%;
}

.db-content {
    text-align: center;
    padding: 5%;
}

.big {
    font-family: sans-serif;
    color: white;
}

.apple {
    color: white;
    font-family: sans-serif;
    font-size: 50px;
    margin-top: 2%;
    margin-bottom: 0%;
}

.red {
    color: red;
    margin-top: 5%;
    padding-bottom: 5%;
    font-size: 150%;
}

.blue {
    color: blue;
    font-size: 100%;
}